html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}
.flex {
    display: flex;
}
.spaceBetween{
    justify-content: space-between;
}

/*END RESET*/
/*NAVIGATION*/
header {
    font-weight: 600;
}
.navigation {
    width: 100%;
    background-color: #333333;
}
div.logo img {
    max-width: 50px;
}
.navBar {
    height: 50px;
}
ul.navBar li{
    display: inline;
    line-height: 50px;
    margin-left:35px;
}
ul.navBar li a {
    text-decoration: none;
    color:white;
}
.hamburger {

}
.ham {

}
.navBar-mobile {

}
.navBar-mobile-div {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    transform: translateX(100%);
}
.is-open {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    transform: translateX(0);
}
ul.navBar li.linkedin {
    margin-left: 65px;
}
.linkedin a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 15px;
}
.linkedin a:hover {
    color: #333333;
    background: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 15px;
}
/*END NAVIGATION*/
/*HERO*/
.hero {
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0 auto;
    background-color: aquamarine;
}
/*END HERO*/
/*ABOUT*/
.about {
    display: flex;
}
.aboutMe {
    width: 100%;
    padding: 60px 0 60px 60px;
}
.aboutMe h3 {
    font-size: 2em;
    margin-bottom: 50px;
}
.image {
    width: 100%;
    height: auto;
}
.image img {
    max-width: 100%;
}
/*END ABOUT*/
/*CONTACT*/
.footerText {
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px;
}
/*END CONTACT*/