html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}
.mouse {
    position:absolute;
    bottom:90px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 60px;
    background: white;
    z-index:1;
    animation: mouseHero infinite 2s;
}
/*END RESET*/
/*NAVIGATION*/
.flex {
    display: flex;
    justify-content: space-between;
}
header {
    font-weight: 600;
}
.navigation {
    display: block;
    width: 100%;
    position: fixed;
    padding-top: 60px;
    z-index: 10;
}
div.logo img {
    max-width: 80px;
}
.navBar {
    line-height: 80px;
    height: 50px;
    margin-right: -35px;
}
ul.navBar li{
    display: inline;
    line-height: 50px;
    margin-left:35px;
}
ul.navBar li a {
    text-decoration: none;
    color:white;
    font-size: 22px;
}
.hamburger {

}
.ham {

}
.navBar-mobile {

}
.navBar-mobile-div {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    transform: translateX(100%);
}
.is-open {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    transform: translateX(0);
}
ul.navBar li.linkedin {
    margin-left: 65px;
}
.linkedin a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 15px;
}
.linkedin a:hover {
    color: #333333;
    background: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 15px;
}
/*END NAVIGATION*/
/*HERO*/
.hero {
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0 auto;
}
.hero .slider {
    width: 100%;
    height: 100%;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
/*END HERO*/
/*ABOUT*/
.about {
    position: relative;
    display: flex;
    height: 100vh;
    background: #ececec
}
.aboutMe {
    transform: translateY(30%);
    width: 100%;    
    padding: 60px 0 60px 60%;

}
.aboutMe h3 {
    font-size: 2em;
    margin-bottom: 50px;
}
.image {
    position: absolute;
    top:0px;
    left:0px;
    width: 50%;
    height: 100%;
    background-image: url(../img/Nicola-853x1024.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
/*END ABOUT*/
/*WORKS*/
.portfolio {
    height: 100vh;
    background:#ececec;
}
.mockup img {
    max-width:100%;
}
/*END WORKS*/
/*CONTACT*/
.contact {
    height: calc(100vh - 80px);
}
.footerText {
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px;
}
/*END CONTACT*/

@keyframes mouseHero {
    0% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-20%);
    }
}