:root {
    --lightGray: #ececec; 
    --darkGray: #333333;
    --subtitle: #959eaf;
    --bgMobileNav: rgba(149, 158, 175, 0.6);
}
body,html {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
.wrapper {
    display: block;
    margin: 5px auto;
    width: 100%;
    max-width: 1280px;
    clear: both;
}
.mouse {
    position:absolute;
    bottom: 25vh;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
    animation: mouseHero infinite 1s;
}
.container {
    margin: 40px auto;
    background: white;
    border-radius: 5px;
}
/*END RESET*/
/*NAVIGATION*/
.flex {
    display: flex;
    justify-content: space-between;
}
header {
    font-weight: 600;
}
.navigation {
    display: block;
    width: 100%;
    position: fixed;
    padding-top: 60px;
    z-index: 10;
    transition: 0.3s;
}
.newNav {
    display: block;
    width: 100%;
    position: fixed;
    transition: 0.3s;
    background: var(--darkGray);
    padding-top: 0px;
    z-index: 10;
}
.logo {
    padding-left: 25px;
}
.logo img {
    max-width: 80px;
}
.navBar {
    line-height: 80px;
    height: 50px;
    padding-right: 25px;
}
ul.navBar li{
    display: inline;
    line-height: 50px;
    margin-left: 35px;
}
ul.navBar li a {
    text-decoration: none;
    color: var(--lightGray);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
.hamburger {
    display: none;
    width: 40px;
    padding: 25px 25px;
    height: 40px;
    cursor: pointer;
}
.ham {
    width: 30px;
    height: 3px;
    background: var(--lightGray);;
    display: block;
    margin: 5px;
}
.navBar-mobile {

}
.navBar-mobile-div {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    transform: translateX(100%);
}
.is-open {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    transform: translateX(0);
}
ul.navBar li.linkedin a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
}
ul.navBar li.linkedin {
    margin-left: 65px;
}
.linkedin a:hover {
    color: var(--darkGray);
    background: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 15px;
}
/*END NAVIGATION*/
/*HERO*/
.hero {
    width: 100%;
    height: 80vh;
    display: block;
    margin: 0 auto;
}
.hero .heroBackground {
    width: 100%;
    height: 100%;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
/*END HERO*/
/*ABOUT*/
.about {
    position: relative;
    display: block;
    background: var(--lightGray);
    padding: 2px 0;
}
.image img {
    width: 250px;
    transform: translateY(-65%);
    border: 10px solid var(--lightGray);
}
.image {
    height: 90px;
    padding-left: 15px;
}
.name {
    width: 100%;
    font-size: 1.3em;
    font-weight: 700;
    padding: 10px 0 0 8px;
    line-height: 1.3;
    color: var(--darkGray);
}
.location {
    color: var(--subtitle);
    font-family: 'Montserrat', sans-serif;
}
.aboutMe {
    min-width: 200px;
    padding: 20px 25px;
    line-height: 1.5;
    font-weight: 800;
}
.aboutMe h2 {
    font-size: 1.5em;
    margin: 0px 0 10px 0;
    color: var(--subtitle);
    letter-spacing: 2px;
}
.aboutMe p {
    margin-right: 100px;
    padding: 0;
    font-size: 1em;
    color: var(--darkGray);
    font-family: 'Montserrat', sans-serif;
}
.aboutMe span {
    padding: 0;
    font-size: 1em;
    color: var(--darkGray);
    font-family: 'Montserrat', sans-serif;
}
/*END ABOUT*/
/*WORKS*/
.portfolio {
    position: relative;
    display: block;
}
.sliderSection {
    padding: 0 25px;    
}
.sliderSection h2 {
    color: var(--subtitle);
    letter-spacing: 2px;
    font-size: 1.5em;
    margin: 0px 0 30px 0;
}
.slide {
    margin: 0 20px 0 0;
}
.slide img {
    max-width:100%;
}
/*END WORKS*/
/*CONTACT*/
.contact {
    position: relative;
    display: block;
    background: var(--lightGray);
    padding: 30px 0;
}
.footerText {
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px;
}
/*END CONTACT*/

@keyframes mouseHero {
    0% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-20%);
    }
}
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 10;
    }
    .navigation {
        padding-top: 20px;
    }
    .navBar {
        display: none;
        padding: 50% 0;
        position: fixed;
        top: 75%;
        width: 100%;
        height: 100vh;
        font-size: 2.1em;
        line-height: 60px;
        background: var(--bgMobileNav);
        transform: translatey(-50%);
        text-align: center;
    }
    .ham {
        transition: 0.6s;
    }
    ul.navBar li {
        display: inherit;
        line-height: 60px;
        margin: 0;
        padding: 0;
    }
    ul.navBar li.linkedin {
        margin: 0;
        line-height: 100px;
    }
    .openNav {
        display: block;
    }
    .navOpenLeft {
        transform: rotate(45deg);
        transition: 0.6s;
    }
    .navOpenRight {
        transform: rotate(-45deg);
        transition: 0.6s;
    }
}