@import './utils/typography.scss';
@import './components/header.scss';
@import './components/experiences.scss';
@import './components/skills.scss';
@import './components/passions.scss';

.border-rnd-20 {
	border-radius: 20px;
	box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.3);
}

.flex-container {
	display: flex;
}

.black-container {
	background: black;
	color: white;
}

.container {
	box-sizing: border-box;
	padding: 30px 12px;
	
	@media screen and (min-width: 1024px) {
		padding: 30px 50px;
		max-width: 1260px;
		width: 100%;
		margin: 0 auto;
	}
}

.info {
	&.flex-container {
		flex-direction: column;
		
		@media screen and (min-width: 1024px) {
			flex-direction: row-reverse;;
		}
	}
}

p, 
span {
	letter-spacing: 0.6px;
}