.header {
	.flex-container {
		display: block;
		text-align: center;
		
		@media screen and (min-width: 1024px) {
			align-items: center;
			display: flex;
			text-align: left;
		}
	}

	.title {
		font-family: 'Montserrat', sans-serif;
		font-size: 26px;
		margin: 10px auto;
		font-weight: 700;
	}

	.profile-photo {
		width: 200px;
		height: 223px;
	}

	.description {
		margin-left: 20px;

		h3 {
			margin-bottom: 20px;
		}
	}
}